*{
    font-family: 'Open Sans', sans-serif;
}

#top-sec {
    width: 79%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
}

#logo {
    height: 45px;
    width: 200px;
}

#bar {
    width: 79%;
    margin: auto;
    margin-top: 5px;
}

#bar img {
    width: 100%;
}

#total-box {
    width: 79%;
    margin: auto;
    height: 220px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

#total-box > div {
    height: 50%;
    /* border: 1px solid blue; */
}

#total-sub1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

#total-sub1 > :nth-child(1){
    width: 35%;
}

#total-sub2 {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

#total-sub2 > :nth-child(1) { 
    width: 35%;
    /* border: 1px solid violet; */
    display: flex;
    align-items: center;
}

#total-sub2 > :nth-child(1) a {
    color: rgb(96, 96, 96);
}

#total-sub2 > :nth-child(2) {
    display: flex;
    width: 55%;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#paypal {
    height: 40px;
    width: 200px;
    cursor: pointer;
}

#paytm {
    height: 65px;
    width: 200px;
    margin-top: 25px;
    cursor: pointer;
}

#btn {
    height: 40px ;
    width: 160px;
    border: none;
    border: 1px solid black;
    font-size: 17px;
    font-weight: bold;
    background: #ffda00;
    border: none;
    cursor: pointer;
}

#total-sub1 > div {
    display: flex;
    gap: 30px;
}

.sub-sub1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sub-sub1 h4 {
    margin: 0px;
    margin-top : 0px;
}

.sub-sub1 p {
    margin: 0px;
    margin-top : 0px;
    font-size: 13px;
}

#totol-display {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 15px;
    box-sizing: border-box;
    justify-content: center;
}

#totol-display > div {
    box-sizing: border-box;
    margin: -8px;
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-between;
    font-size: 17px;
}

#total-div {
    font-size: 25px;
    font-weight: bold;
    color: #f30240;
}


#CartCss{
    width: 79%;
    display: flex;
   justify-content: space-between;
    grid-template-rows: auto;
    margin: auto;
    padding: 0px 25px;
    box-sizing: border-box;
    margin-top: 50px;
}

#CartCss:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#Scart{
    padding-top: 20px;
    gap :20px;
    margin-top: 10px;
}

#Scart2{
    margin-top: 50px;
    padding-top: auto;
    display: grid;
}

#Scart3{
    margin-top: 65px;
    padding-top: auto;
    display: grid;
}

#Scart4{
    margin-top: 50px;
    padding-top: auto;
    display: grid;
}

#Scart5{
    margin-top: 65px;
    padding-top: auto;
    display: grid;
}

.bat{
    background-color: #ffda00;
    border: 1px solid #ffda00 ;
}
#Scart6{
    margin-top: 50px;
    padding-top: auto;
    display: grid;
}


#Scart > div > img {
    height: 100px;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}




#dis{
    width: 78%;
    margin-left: 10%;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px
}


#main5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 79%;
    margin-left: 10%;
}

#main5 > div > h4{
    text-decoration: line-through;
}

#main5 > div >img{
    max-width: 100%;
}

#main5 > div{
    width: 95%;
    text-align: center
}

#main5 > div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#main5 > div > p:nth-child(3) {
    text-decoration: line-through;
    color: black;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

#main5 > div > p:nth-child(4){
    color: #f41951;
}



#countBox{
    display: flex;
    margin-left: -40px;
    margin-top: 53px;
    cursor: pointer;
}
#subs{
    width: 30px;
    height: 30px;
    justify-content: center;
    text-align: center;
    border: 1px solid #aca8a8;
    border-right: none;
    /* margin-top: 15px; */
    font-family: sans-serif;
    cursor: pointer;
}
#add{
    width: 30px;
    height: 30px;
    justify-content: center; 
    text-align: center;
    border: 1px solid #aca8a8;
    border-left: none;
    /* margin-top: 15px; */
    font-family: sans-serif;
    cursor: pointer;
}
#proNumber{
    display: flex;
    justify-content: center;
    width: 75px;
    height: 30px;
    border: 1px solid #aca8a8;
    /* margin-top: 15px; */
    font-family: sans-serif;
}
#subSign{
   margin-top: 0px;
   font-weight: lighter;
}
#addSign{
    margin-top: 0px;
    font-weight: lighter;
}
#count{
    margin-top: 0px;
    font-weight: lighter;
    color: #f83468;
}

.counterbox{
    display: flex;
    cursor: pointer;
    width: 100px;
    height: 20px;
    /* border: 1px solid; */
    justify-content: space-between;
}
