
#HP-cat {
    font-family: 'Open Sans', sans-serif;
    height: 450px;
    width: 78%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid black; */
}

#hp-block1 {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
    font-size: 17px;
}

#cat {
    /* border: 1px solid; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.subh {
    /* border: 1px solid; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffda00;
    color:black;
}

#hp-block2 {
    height: 91%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("https://uidesign.gbtcdn.com/GB/image/8823/1190X420.jpg?imbypass=true");
    position: relative;
}

#hp-block1 > :nth-child(1):hover{
    text-decoration: none;
}

#hp-block1 > div:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: black;
}

#block2-cat {
    width: 236px;
    height: 100%;
    /* border: 1px solid ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

#block2-cat > div {
    height: 27px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: black;
    /* border: 1px solid red; */
}

#block2-cat > div:hover {
    background-color: white;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

#block-3 {
    height: 120px;
    width: 78%;
    margin: auto;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

/* #block-2-right {
    width: 80.5%;
    display: flex;
    visibility: hidden;
    border: 1px solid red;
} */

/* Position Absolute properties */
.block-2-right {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 235px;
    display: flex;
    visibility: hidden;
}
.block-2-right h5 {
    color: black;
}

.block-2-industry {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-industry h5 {
    color: black;
}

.block-2-cellphone {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-cellphone h5 {
    color: black;
}

.block-2-appliance {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-appliance h5 {
    color: black;
}

.block-2-fitness {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-fitness h5 {
    color: black;
}

.block-2-computer {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-computer h5 {
    color: black;
}

.block-2-health {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-health h5 {
    color: black;
}

.block-2-home {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-home h5 {
    color: black;
}

.block-2-drone {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-drone h5 {
    color: black;
}

.block-2-garden {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-garden h5 {
    color: black;
}

.block-2-car {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-car h5 {
    color: black;
}

.block-2-men {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-men h5 {
    color: black;
}

.block-2-watch {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-watch h5 {
    color: black;
}

.block-2-gearbest {
    width: 61.8%;
    height: 57.5%;
    position: absolute;
    top: 155px;
    left: 408px;
    display: flex;
    visibility:collapse;
}
.block-2-gearbest h5 {
    color: black;
}

.block-2-right-sub {
    width: 80%;
    background-color: white;
}

.block-2-right-sub + div {
    width: 25.5%;
}

.block-2-right-sub + div > img {
    height: 100%;
    width: 100%;
}

.block-2-right-sub > div {
    height: 50%;
    display: flex;
    padding: 0px 40px;
    justify-content: space-around;
    line-height: 10px;
}

.block-2-right-sub > div > div {
    width: 32%;
}


.block-2-right-sub p {
    font-size: 13px;
}

.block-2-right-sub > div > div > :hover{
    font-weight: bold;
    color: orange;
    cursor: pointer;
}



/* Product part css starts from here */
#container{
    display: grid;
    /* margin-left: 100px;
    margin-right: 100px; */
    width: 78%;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}

.subhed1{
    font-family: 'Open Sans', sans-serif;
    color: black;
}




    #main1{
        display: grid;
        grid-template-columns: repeat(5, 1fr);

    }

    #main1 > div >img{
        max-width: 100%;
    }

    #main1 > div{
        width: 95%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    #main1 > div:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }




    #main2{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    #main2 > div > h4{
        text-decoration: line-through;
    }

    #main2 > div >img{
        max-width: 100%;
    }

    #main2 > div{
        width: 95%;
        text-align: center
    }

    #main2 > div:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #main2 > div > p:nth-child(3) {
        text-decoration: line-through;
        color: black;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    #main2 > div > p:nth-child(4){
        color: #f41951;
    }






    #main3{
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
    }

    #main3 > div > p:nth-child(2) {
        text-decoration: line-through;
    }

    #main3 > div >img{
        max-width: 100%;
    }

    #main3 > div{
        width: 95%;
        text-align: center
    }

    #main3 > div:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }






    #java_container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 100%;
    }

    #java_container >div{
        width: 95%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        justify-content: space-around;
        margin-top: 20px;
        text-align: center;
    }

    #java_container>div:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
    }

    .para1{
        font-family: 'Open Sans', sans-serif;
    }

    .para2{
        color: #f41951;
        font-size: 20px;
        /* font-weight: bold; */
    }

    .para3{
        color: rgb(198, 18, 138);
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .span1 {
        font-size: 15px;
        color: rgb(194, 184, 184);
    }

    div1{
        text-align: end;
    }

    #main1 img, #main2 img, #main3 img, #java_container img  {
        width: 100%;
        height: 250px;
    }

    /* #java_container >div {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        justify-content: space-around;
    } */